name: Appium Test
on: [workflow_dispatch]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install Deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install py>=1.11.0

      - name: Install Appium
        run: |
          npm install -g appium@2.0.0
          appium driver install uiautomator2

      - name: Run Test
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 28
          emulator-options: "-no-window -no-audio -gpu swiftshader_indirect -no-boot-anim -no-snapshot-save -cores 2"
          emulator-boot-timeout: 600
          script: |
            if [ ! -f ./apps/ApiDemos-debug.apk ]; then exit 1; fi
            appium --relaxed-security > appium.log 2>&1 &
            sleep 20
            sleep 120
            adb devices
            mkdir -p reports
            pytest tests/ -v -s --html=reports/report.html --self-contained-html

      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: reports/ appium.log
